DROP DATABASE IF EXISTS vihangielectronics;
CREATE DATABASE vihangielectronics;
USE vihangielectronics;

-- User --
CREATE TABLE User(
                     userName VARCHAR(20) PRIMARY KEY,
                     password VARCHAR(20) NOT NULL,
                     email VARCHAR(50) NOT NULL,
                     jobRoll ENUM('Admin','Manager') NOT NULL,
                     status ENUM('Active','Inactive') DEFAULT 'Inactive'
);

-- Customer --
CREATE TABLE Customer(
                         customerId VARCHAR(4) PRIMARY KEY,
                         name VARCHAR(100) NOT NULL,
                         contact CHAR(10) UNIQUE NOT NULL,
                         email VARCHAR(50) UNIQUE NOT NULL,
                         address VARCHAR(100) NOT NULL
);

INSERT INTO Customer (customerId, name, contact, email, address) VALUES
                                                                           ('C001', 'Amal Perera', '0711111111', 'amal@gmail.com', 'Colombo'),
                                                                           ('C002', 'Sunil Silva', '0722222222', 'sunil@gmail.com', 'Kandy'),
                                                                           ('C003', 'Kamal Fernando', '0777777777', 'kamal@gmail.com', 'Matara');

-- Quotation --
CREATE TABLE Quotation(
                          quotationId VARCHAR(4) PRIMARY KEY ,
                          customerId VARCHAR(4) NOT NULL,
                          date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                          status ENUM('Approve','Pending','Cancel') DEFAULT 'Pending',
                          FOREIGN KEY (customerId) REFERENCES Customer(customerId) ON DELETE CASCADE
);

-- Order Table --

CREATE TABLE Orders (
                        order_id      VARCHAR(4) PRIMARY KEY,
                        order_date    DATE NOT NULL,
                        time          TIME NULL,
                        total_amount  DECIMAL(10,2) NOT NULL,
                        cus_id        VARCHAR(4) NOT NULL,
                        FOREIGN KEY (cus_id) REFERENCES Customer(customerId)
);

-- Supplier --
CREATE TABLE Supplier(
                         supplierId VARCHAR(4) PRIMARY KEY,
                         name VARCHAR(100) NOT NULL,
                         contact VARCHAR(15) UNIQUE NOT NULL,
                         email VARCHAR(50) UNIQUE NOT NULL,
                         address TEXT NOT NULL

);



-- Product --
CREATE TABLE Product(
                        productId VARCHAR(4) PRIMARY KEY,
                        supplierId VARCHAR(4) NULL,
                        name VARCHAR(100) NOT NULL,
                        pricePerUnit DECIMAL(10,2) NOT NULL CHECK (pricePerUnit > 0),
                        qty INT NOT NULL DEFAULT 0,
                        FOREIGN KEY (supplierId) REFERENCES Supplier(supplierId) ON DELETE CASCADE
);



-- Stock --
CREATE TABLE Stock(
                      stockId INT PRIMARY KEY AUTO_INCREMENT,
                      productId VARCHAR(4) NOT NULL UNIQUE,
                      stockQuantity INT NOT NULL CHECK (stockQuantity > 0),
                      FOREIGN KEY (productId) REFERENCES Product(productId) ON DELETE CASCADE
);

-- Order Details --
CREATE TABLE Order_Details (
                               order_id     VARCHAR(4) NOT NULL,
                               item_id      VARCHAR(4) NOT NULL,
                               quantity     VARCHAR(4) NOT NULL,
                               unit_price   DECIMAL(10,2) NOT NULL ,
                               PRIMARY KEY (order_id, item_id),
                               FOREIGN KEY (order_id) REFERENCES Orders(order_id),
                               FOREIGN KEY (item_id) REFERENCES Product(productId)
);

-- Payment --
CREATE TABLE Payment(
                        paymentId VARCHAR(4) PRIMARY KEY,
                        orderId VARCHAR(4) NOT NULL,
                        date DATE NOT NULL,
                        amount DECIMAL(10,2) CHECK (amount > 0),
                        paymentMethod ENUM('Cash','Card','Online') NOT NULL,
                        status ENUM('Success','Pending','Fail') DEFAULT 'Success',
                        FOREIGN KEY (orderId) REFERENCES Orders(order_id) ON DELETE CASCADE
);

-- Delivery --
CREATE TABLE Delivery(
                         deliveryId VARCHAR(4) PRIMARY KEY,
                         orderId VARCHAR(4) NOT NULL,
                         date DATE NOT NULL,
                         time TIME,
                         address TEXT NOT NULL,
                         status ENUM('Success','Pending','Cancel') DEFAULT 'Success',
                         FOREIGN KEY (orderId) REFERENCES Orders(order_id) ON DELETE CASCADE
);
